################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuthorizationMiddleware/bin/Debug/net9.0
/DemoAPI.DAL/bin/Debug/net9.0
